.rec-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rec-holder {
    background: #fff;
    border-radius: 5px;
    padding: 20px 20px 20px 32px; 
    box-shadow: 0px 0px 5px 0px rgba(70, 72, 102, 0.5);
    width: 100%;
}

    .rec-holder p {
        margin-bottom: 0px;
    }

table {
    width: 1060px;
    margin: 15px 15px 0 auto; 
}

.topicColumn {
    width: 50%;
}

.nameColumn {
    width: 40%;
}

.link {
    width: 5%;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #D2D5D9;
}

.loader {
    margin-right: auto;
    margin-left: auto;
    height: 20px;
}

.row:last-child a {
    margin-right: 10px;
}

.rec-holder .row:last-child {
    padding-top: 0px;
}

select {
    width: 315px;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: #bebebe;
}

.info {
    width: 25%;
    float: left;
}

.newData {
    width: 75%;
    padding-top: 0;
}

@media screen and (max-width: 1110px) {
    table {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .info {
        width: 100%;
        float: none;
    }

    .newData {
        width: 100%;
        padding-top: 10px;
    }

    .btn-custom {
        margin-right: 10px;
        margin-top: 10px;
    }
}
