.calendar-container {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(70, 72, 102, 0.5);
}

.calendar-navbar * {
    margin-left: 5px;
    margin-right: 5px;
}

.calendar-navbar > .btn:focus {
    box-shadow: none !important;
}

.calendar-holder {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.weekday-column {
    flex: auto;
    width: 14.2%;
}

.calendar-day-item, .skipper {
    position: relative;
    overflow-y: auto;
    height: 12vh;
    margin: 5px 3px;
}

.calendar-day-item {
    border: 2px solid #111C26;
    background: #F0F0F2;
}

    .calendar-day-item:hover {
        border: 2px solid #1B8C84;
    }

button.add-day-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
}

.user-day {
    border: 2px solid #343a40;
    background: #343a40;
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: small;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-day a {
    color: whitesmoke;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

.user-day > svg {
    float: right;
    color: whitesmoke;
    width: 0.8rem;
    height: 0.8rem;
}

.user-day > svg:hover {
    float: right;
    color: white;
    width: 1rem;
    height: 1rem;
}

.subordinate-day {
    border: 2px solid #343a40;
    color: #343a40;
    font-size: small;
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subordinate-day a {
    color: #343a40;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subordinate-day a:first-child{
    max-width: 60%;
}

.subordinate-day a:last-child{
    max-width: 40%;
}

.hide-subordinate-days, .hide-subordinate-days:hover {
    background-color: inherit;
    color: #343a40;
    border: 2px solid #343a40;
}
