.picture-holder {
    width: 100%;
    height: 20rem;
    border: 2px double #343A40;
}

.picture-holder > img {
    width: 100%;
    height: 100%;
}

.general-info-wrapper .row {
    justify-content: unset;
    padding: 0px 0px 0px 0px;
}