.login-wrapper{
    position: absolute;
    top: calc(50% - 100px);
    width: 100%;
    text-align: center;
}

.login-holder {
    border: 1px solid black;
    padding: 10px 40px 10px 40px;
    border-radius: 15px;
    display: inline-block;
}

label {
    min-width: 100px;
}

input {
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    text-align: center;
}

input:focus{
    outline: none;
}

.row {
    padding: 5px 0 5px 0;
}

.row:last-child{
    justify-content: center;
}