.login-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-holder {
    width: 350px;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 32px;
    padding-right: 15px;
    box-shadow: 0px 0px 5px 0px rgba(70, 72, 102, 0.5);
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

    .row:last-child {
        padding-top: 16px;
        display: flex;
        justify-content: center;
    }

input {
    border-style: solid;
    border-width: 1px;
    width: 315px;
    height: 40px;
    padding-left: 20px;
    border-color: #bebebe;
}


    input:focus {
        border: 2px solid #177995;
    }

.btn-custom {
    background-color: #3D4A57;
    color: #FFFFFFD9;
    min-width: 160px;
}

    .btn-custom:hover {
        cursor: pointer;
        background-color: #313C49;
        color: #FFFFFFD9;
    }

h2 {
    text-align: center;
    padding-bottom: 15px;
}