<!--Create app.config and paste this with correct email address and password to send invites-->

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NoreplyEmailAddress" value="EL.PASTAS"/>
    <add key="Password" value="SLAPTAZODIS" />
    <add key="Url" value="https://localhost:44395/"/>
    <add key="DBConnectionString" value="Server=SERVER_NAME;Database=DB_NAME;Password=PASSWORD;User=USERNAME"/>
  </appSettings>
</configuration>