a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.sign-out-button{
  background-color: transparent !important;
  border: none !important;
}

.sign-out-button > i {
  color: #343A40;
}

.sign-out-button > i:hover {
  color: #56606A;
}
